body{
    background-color: aqua
}
.nav{
    max-width: fit-content;
    padding-right: 20px;
    border-radius: 40px;
    margin-right: auto;
    display: flex;
}
.table{
    padding: auto;
    margin-right: auto;
    display: flex;
}
#contact{
    margin-right: auto;
    border-radius: 20px;
    max-width:max-content;
}